img(src="images/me.png" alt="icon of Zachariah Deitrich face")
h1 Zachariah Deitrich
p
  i.fab.fa-html5
  i.fab.fa-css3
  i.fab.fa-js
  i.fab.fa-php
  i.fab.fa-java
  i.fab.fa-git
p
  i.fab.fa-apple
  i.fab.fa-linux
  i.fab.fa-windows
  i.fab.fa-android
  i.fab.fa-raspberry-pi
